@model bugzilla.Models.Fix

@{
    ViewData["Title"] = "Add";
}

<h4>Fix Form</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddDb">
            <div class="form-row">
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <label for="roles">Fixed Bug:</label>
                        <select asp-for="Bug.Id" id="bug" name="bug">
                            @foreach (var bug in ((IEnumerable<Bug>) ViewData["bugs"]).Where(i => i.Closed != true))
                            {
                                <option value="@bug.Id">@bug.Description from @bug.Dev.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <label for="roles">Fixed By:</label>
                        <select asp-for="Dev.Id" id="dev" name="dev">
                            @foreach (var dev in ((IEnumerable<Developer>)
                                ViewData["devs"]))
                            {
                                <option value="@dev.Id">@dev.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block"/>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>