@model IEnumerable<bugzilla.Models.Fix>

@{
    ViewData["Title"] = "Fixes";

}
<html>

<head>
    <title>Fixes</title>
</head>
<body>
<div>
    <form asp-action="Table" class="mb-4">
        <label for="fixer">Fix made by:</label>
        <select id="fixer" name="fixer" class="mr-4">
            <option value="@Guid.Empty">all</option>
            @foreach (var dev in ((IEnumerable<Fix>) ViewData["fixes"]).Select(fix => fix.Dev).Distinct())
            {
                <option value="@dev?.Id">
                    @dev?.Name
                </option>
            }
        </select>
        <label for="bug">Fix made for bug:</label>
        <select id="bug" name="bug" class="mr-4">
            <option value="@Guid.Empty">all</option>
            @foreach (var bug in ((IEnumerable<Fix>) ViewData["fixes"]).Select(fix => fix.Bug).Distinct())
            {
                <option value="@bug?.Id">
                    @bug?.Description
                </option>
            }
        </select>
        <button type="submit" class="btn btn-outline-success">
            Filter!
        </button>
    </form>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            id
        </th>
        <th>
            Bug description
        </th>
        <th>
            Fixed by
        </th>
        <th>
            Is approved
        </th>
        <th>
            <a asp-action="Add" class="btn btn-outline-success">New Fix </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="font-size: 12px" class="text-info">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug.Description) <span class="font-weight-light">by @item.Bug?.Dev?.Name</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dev.Name)
                <p style="font-size: 10px" class="text-info text-capitalize">@item.Dev.Role.Name</p>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => ((IEnumerable<Review>) ViewData["reviews"]).FirstOrDefault(i => item.Id == i.Fix.Id).Approved)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>