@model bugzilla.Models.Review


<h4>Review Form</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <h4>
            <span class="font-weight-bold">Id: </span>@Model.Id
        </h4>
        <form asp-action="AddOrEditDb">
            <div class="form-group">
                <label for="dev">Reviewed by:</label>
                <select asp-for="Dev.Id" id="dev" name="dev">
                    @foreach (var dev in ((IEnumerable<Developer>)
                        ViewData["devLeads"]))
                    {
                        <option value="@dev.Id">@dev.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="fix">Fix:</label>
                <select asp-for="Fix.Id" id="fix" name="fix">
                    @foreach (var fix in (IEnumerable<Fix>) ViewData["fixes"])
                    {
                        <option value="@fix.Id">@fix.Bug.Description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Approved:</label>
                <br>
                <input asp-for="Approved" type="radio" id="approved" value="true">
                <label for="approved">Approved</label>
                <br>
                <input asp-for="Approved" type="radio" id="rejected" value="false">
                <label for="rejected">Rejected</label>
                <br>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block"/>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>