@using System.Collections
@model IEnumerable<bugzilla.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}
<html>

<head>
    <title>Reviews</title>
</head>
<body>
<div>
    <form asp-action="Table">
        <label for="reviewer">Review made by:</label>
        <select id="reviewer" name="reviewer" class="mr-4">
            <option value="@Guid.Empty">all</option>
            @foreach (var dev in ((IEnumerable<Review>) ViewData["reviews"]).Select(review => review.Dev).Distinct())
            {
                <option value="@dev?.Id">
                    @dev?.Name
                </option>
            }
        </select>
        <label for="fixer">Fix made by:</label>
        <select id="fixer" name="fixer" class="mr-4">
            <option value="@Guid.Empty">all</option>
            @foreach (var dev in ((IEnumerable<Review>) ViewData["reviews"]).Select(review => review.Fix?.Dev).Distinct())
            {
                <option value="@dev?.Id">
                    @dev?.Name
                </option>
            }
        </select>
        <label for="approved">Closed:</label>
        <select id="approved" name="approved" class="mr-4">
            <option value="*">all</option>
            <option value="approved">Approved</option>
            <option value="rejected">Rejected</option>
        </select>
        <button type="submit">
            Filter!
        </button>
    </form>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            id
        </th>
        <th>
            Fix made by
        </th>
        <th>
            Reviewed By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            <a asp-action="AddOrEdit" class="btn btn-outline-success"> New Review</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="id"> @Html.DisplayFor(modelItem => item.Id)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fix.Dev.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dev.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                <a asp-controller="Review" asp-action="AddOrEdit" asp-route-guid="@item.Id">
                    Edit
                </a>
                <a asp-controller="Review" asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>